{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Équipe
{% endblock %}

{% block nav_class %}
	transparent navbar-dark navbar-bg-dark bg-black
{% endblock %}

{% block body %}
	
	<style>
        figure img {
            height: 300px !important;
            object-fit: cover;
        }
	</style>
	
	<section id="snippet-1" class="wrapper bg-dark wrapper-border">
		<div class="container pt-15 pt-md-17 pb-13 pb-md-15">
			<div class="row mb-3">
				<div class="col-md-10 col-lg-12 col-xl-10 col-xxl-9 mx-auto text-center">
					<h2 class="fs-15 text-uppercase text-muted mb-3">Notre équipe</h2>
					<h3 class="display-4 mb-7 px-lg-19 px-xl-18 text-red">Les cadres de Shinkyokaï</h3>
				</div>
			</div>
			<div class="row grid-view gx-md-8 gx-xl-10 gy-8 gy-lg-0">
				<div class="col-md-6 col-lg-4">
					<div class="position-relative">
						<div
								class="shape rounded bg-soft-blue rellax d-md-block"
								data-rellax-speed="0"
								style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0;
								transform: translate3d(0px, 0px, 0px);"
						></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#JB">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/JBCB.png"
											srcset="/img/JBCB.png"
											alt="Jean-Baptiste Chikhi-Budjeia en posture karaté avec le kimono Shinkyokaï"
											style="object-fit: cover; object-position: 50% 20%; height: 500px; width: 100%;"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">J.-B. Chikhi-Budjeia</h4>
									<p class="mb-4 text-black">Président-fondateur Shinkyokaï<br>
										5<sup>e</sup> Dan Karaté-Do, Renshi
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="position-relative">
						<div class="shape rounded bg-soft-red rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Michon">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/JBM.png"
											srcset="/img/JBM.png"
											alt="yiseishindo"
											style="object-fit: cover; object-position: 60% 0; height: 500px; width: 100%;"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Jean-Baptiste Michon</h4>
									<p class="mb-5">Directeur technique Shinkyokaï Académie<br>Directeur technique Yiseishindo<br> 5<sup>e</sup> Dan FEKAMT Yiseishindo</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="position-relative">
						<div class="shape rounded bg-soft-green rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Antoine">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/Tonio.jpg"
											srcset="/img/Tonio.jpg"
											alt="Antoine Perochon karate"
											style="object-fit: cover; object-position: 50% 10%; height: 500px; width: 100%;"
									></figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Antoine Perochon</h4>
									<p class="mb-5">Directeur technique Shinkyokaï Académie <br>Directeur technique Karaté-Do <br> 3<sup>e</sup> Dan Karaté-Do</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mt-10">
					<div class="position-relative">
						<div class="shape rounded bg-soft-violet rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Alison">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/Alison.jpeg"
											srcset="/img/Alison.jpeg"
											alt="Alison Marco dojo"
											style="object-fit: cover; object-position: 30% 0; height: 500px; width: 100%;"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Alison Marco</h4>
									<p class="mb-0">Directrice technique Aïkido <br> 4<sup>e</sup> Dan Aïkido</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mt-10">
					<div class="position-relative">
						<div
								class="shape rounded bg-soft-blue rellax d-md-block"
								data-rellax-speed="0"
								style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0;
								transform: translate3d(0px, 0px, 0px);"
						></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Remy">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/Remy.png"
											srcset="/img/Remy.png"
											alt="Rémy Orsini"
											style="object-fit: cover; object-position: 50% 20%; height: 500px; width: 100%;"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Rémy Orsini</h4>
									<p class="mb-4 text-black">Directeur technique Kung-Fu<br>
										5<sup>e </sup>Dan SKK
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mt-10">
					<div class="position-relative">
						<div
								class="shape rounded bg-soft-blue rellax d-md-block"
								data-rellax-speed="0"
								style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0;
								transform: translate3d(0px, 0px, 0px);"
						></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Jessie">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/Jessie.jpeg"
											srcset="/img/Jessie.jpeg"
											alt="Jessie Orsini"
											style="object-fit: cover; object-position: 50% 20%; height: 500px; width: 100%;"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Jessie Orsini</h4>
									<p class="mb-4 text-black">Directrice technique Yoga<br>
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			
			<div class="row mb-3 mt-15">
				<div class="col-md-10 col-lg-12 col-xl-10 col-xxl-9 mx-auto text-center">
					<h3 class="display-4 mb-7 px-lg-19 px-xl-18 text-red">Experts associés</h3>
				</div>
			</div>
			<div class="row grid-view gx-md-8 gx-xl-10 gy-8 gy-lg-0">
				<div class="col-md-6 col-lg-4">
					<div class="position-relative">
						<div
								class="shape rounded bg-soft-blue rellax d-md-block"
								data-rellax-speed="0"
								style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0;
								transform: translate3d(0px, 0px, 0px);"
						></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Pierre-Yves">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/PYC.jpeg"
											srcset="/img/PYC.jpeg"
											alt="Pierre-Yves Campagnac"
											style="object-fit: cover; object-position: 50% 20%; height: 500px; width: 100%;"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Pierre-Yves Campagnac</h4>
									<p class="mb-4 text-black">
										6<sup>e</sup> Dan Taïkikan, Kyoshi
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="position-relative">
						<div class="shape rounded bg-soft-red rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Sun-Woo">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/Sun-Woo.jpg"
											srcset="/img/Sun-Woo.jpg"
											alt="Sun Woo Delneufcourt"
											style="object-fit: cover; object-position: 60% 0; height: 500px; width: 100%;"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Sun Woo Delneufcourt</h4>
									<p class="mb-5">7<sup>e</sup> Dan Karaté-Do, Kyoshi</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		
		</div>
	</section>
	
	<div class="modal fade" id="JB" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/JBCB.png"
								srcset="/img/JBCB.png"
								alt="Jean-Baptiste Chikhi-Budjeia en posture karaté avec le kimono Shinkyokaï"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Jean-Baptiste Chikhi-Budjeia</h4>
					<p class="mb-4">Président Shinkyokaï Académie <br>Fondateur Ryû Shinkyokai<br> 5<sup>e</sup> Dan Karaté-Do, Renshi</p>
					<p>Jean-Baptiste Chikhi-Budjeia pratique le Karaté-Dō depuis 25 ans. Si sa spécialité
						est le Shotokan-Ryu, il a pu étudier, à l’occasion de stages notamment avec des
						maîtres japonais, quelques fondamentaux des styles Wado, Shito et même Goju.</p>
					<p>Il s’intéresse également aux Kobudō. Sa recherche l’a conduit à découvrir le
					Nihon-Jujutsu, l’Aïkidō, le Ninjutsu, le Tang Soo Do, le Taekwondo ou encore le Taï-Chi-Chuan et
						le I-Chuan, dans le but d’enrichir sa pratique, son Karaté-Dō, et ainsi
					d’ouvrir ses perspectives. Sa démarche est celle d’un passionné désireux de transmettre
					et de partager. Cela l’a conduit à créer le Ryu ou style Shinkyokaï, porté par
					l’Académie du même nom, ouverte à plusieurs arts martiaux, essentiellement japonais.
					Ce Ryu est né de l’École de Karaté-Do aixoise, Shin Kyo Budo, membre de l’Aix Université
					Club.
					</p>
					<p>Il suit l’enseignement de Bertrand WEISS Kyoshi, 7<sup>e</sup> Dan IMAF Japon. Jean-Baptiste
						Chikhi-Budjeia est également 3<sup>e</sup> Dan Yiseishindo et 1<sup>er</sup> Degré SDK Krav
						Maga.</p>
					<p>Il est titulaire du Diplôme d’État de la Jeunesse, de l’Éducation Populaire et du
						Sport (DEJEPS) « Karaté et Disciplines associées ». Éducateur sportif, il est
						également titulaire du BPJEPS « Activités physiques pour Tous ».</p>
					<p>Jean-Baptiste Chikhi-Budjeia a eu l’honneur de présenter en 2017 son 4<sup>e</sup> Dan Kokusaï
						Budoin IMAF (Japon) devant Maître HIGUCHI Ikuo, 9<sup>e</sup> Dan Kokusaï Budoin IMAF,
						Hanshi, l’un des disciples de Maître GIMA Makoto, LE premier 1er Dan de Karaté
						de l’Histoire, assistant de Maître FUNAKOSHI Gichin lui-même.</p>
					<p>C’est également devant de grands experts de Karaté-Do qu’il a présenté, en 2023, le
					5<sup>e</sup> Dan : Bertrand Weiss pour le grade IMAF Japon, Dominique Valera,
					10<sup>e</sup> Dan, pour le grade FFK, puis, en 2024, Sun Woo Delneufcourt,
					7<sup>e</sup> Dan, et Robert Dejardin, 6<sup>e</sup> Dan, tous deux Kyoshi, pour le
					Grade Daï Nippon Butoku Kaï (DNBK).</p>
					<p>En 2024, la DNBK lui décerne le titre de Renshi en Karaté-Do, soit « expert ».</p>
					<p>Historien moderniste (il rédige actuellement une thèse de Doctorat sur la Révolution
						française à Aix), il a publié son premier livre pour les Editions Landogne, La Plume
						et le Sabre, deux armes indissociables pour avancer sur la Voie du Guerrier,
						Collection Savoir (Cf. onglet « Actualités »). Son deuxième ouvrage, Shogun,
						introduction à une politique de la guerre dans le Japon des samuraï, est paru au
						Lys bleu Editions en septembre 2021.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Michon" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/JBM.png"
								srcset="/img/JBM.png"
								alt="Jean-Baptiste Michon Yiseishindo"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Jean-Baptiste Michon</h4>
					<p class="mb-4">Directeur technique Shinkyokaï<br>5<sup>e</sup> Dan FEKAMT Yiseishindo</p>
					<p>Très tôt passionné par le Japon et l’entièreté de sa culture, c’est tout naturellement qu’il
						poussa la porte d’un authentique dôjô en 1999, le Seidôkan de Bègles. C’est avec
						rigueur qu’il commença alors l’apprentissage du karate-dô du style Shitô-ryû sous la
						direction de sensei Patrick Bregier Hanshi 8ème dan Japon. Sa pratique du karate fut
						immédiatement complétée par l’apprentissage des kobudô d’Okinawa, avec les styles
						Matayoshi-ryû et Zenbutôkukai. (L’école avait la particularité de pratiquer les deux
						courants, ce qui rejoint le syncrétisme naturel du style Shitô-ryû). Avec les années il
						aura la chance de rencontrer de très grands experts au cours de stages divers et
						d’échanges, dont certains directement dans le dôjô Seidôkan, lieu de passage de
						beaucoup de sensei d’horizons divers ; sensei Vignaud ,Ragnatella, Szalata, Dupertout
						entre autres grands noms des arts-martiaux de l’époque. Les échanges inter-styles y
						furent donc fréquents. Il suivit logiquement les traces de son sensei en apprenant le
						taiji-quan , qi-gong et yi-quan ; puis directement la méthode Yiseishindô qui en est la
						synthèse. Parallèlement à cela, l’apprentissage de la langue japonaise ainsi que de
						l’anthropologie et histoire de l’art lui permettront de s’extraire de la prison mentale que
						peut facilement constituer le monde des arts-martiaux traditionnels.</p>
						<p>Assoiffé de connaissances, il eut la chance de compléter sa pratique en collaborant
						avec le CSSD (Cercle Sportif Sécurité Défense) qui lui permit de se familiariser avec les
						pratiques martiales des forces de l’ordre et de l’armée française. Puis il décida encore
						de compléter sa vision des arts-martiaux en allant beaucoup échanger avec le monde
						de la boxe et du mma et du jjb, ce qui donnera encore une nouvelle forme à sa pratique
						et lui permettra d’améliorer encore la Méthode Globale de Combat Yiseishindô.</p>
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Antoine" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/Tonio.jpg"
								srcset="/img/Tonio.jpg"
								alt="Antoine Perochon karaté à la plage"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Antoine Perochon</h4>
					<p class="mb-4">Directeur technique Karaté-Do <br> 3<sup>e</sup> Dan Karaté-Do</p>
					<p>Antoine Perochon est professionnel de santé, kinésithérapeute et ostéopathe, spécialisé dans la
						thérapie sportive. Il a travaillé auprès de plusieurs équipes nationales, notamment de Judō et
						de Taekwondo, au sein du pôle médical de l’Institut National du Sport, de l’Expertise et de la
						Performance (INSEP) Paris. Antoine a commencé l’étude du Karaté-Dō dans un Dōjō de la Japan
						Karate Association (JKA), sous la direction de Senseï Le Rolland. En arrivant à Aix, Antoine
						intègre l’École	Shin Kyo Budo, dirigé par Jean-Baptiste Chikhi-Budjeia. Quand ce dernier fonde
						le Ryu Shinkyokaï, il sollicite Antoine pour l’élaboration d’une Académie d’une même nom, pensée
						comme une Université des arts martiaux. Dans cette organisation, Antoine Perochon est nommé
						directeur technique Karaté-Do.</p>
					<p>Il est également titulaire du 2<sup>e</sup> Dan IMAF Japon, du diplôme d’instructeur
						fédéral (DIF) FFK et d’une carte professionnelle d’éducateur sportif.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Alison" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/Alison.jpeg"
								srcset="/img/Alison.jpeg"
								alt="Alison Marco dojo"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Alison Marco</h4>
					<p class="mb-4">Directrice technique Aïkido <br> 4<sup>e</sup> Dan Aïkido</p>
					<p>C’est en 2009 que j’ai ouvert la porte du dojo d’<em>aikido</em> pour la première fois.</p>
					<p>Je suis très vite devenue passionnée de cet art martial esthétique, efficace et très complet,
						qui m’apporte ses bienfaits : confiance en soi, bien-être, souplesse, fluidité, respect…
					</p>
					<p>Dès le début de ma pratique, j'ai compris que l’entraînement assidu et sérieux était nécessaire
						pour progresser, ce qui m’a poussé à suivre de nombreux stages. D’abord au sein de ma
						fédération, FFAB, pendant de nombreuses années, j'ai eu la chance de pouvoir suivre les
						enseignements des élèves de Maître Tamura, puis, toujours en quête de nouveaux apprentissages,
						j’ai participé à de nombreux stages d’experts internationaux de notre discipline
						(M. Kuribayashi, M. Yamada, M. Irie, M. Miyamoto, M. Tissier ainsi que le futur Doshu M. Waka
						Sensei…).
					</p>
					<p>
						J’ai obtenu ma ceinture noire en 2012, en parallèle, j’étais en formation pour le Brevet
						Fédéral que j’ai décroché l’année suivante en 2013. J’enseignais dans la section enfant de mon
						club, il était donc logique de me former à l’enseignement.
					</p>
					<p>
						Après l’obtention du Brevet Féderal, j’ai continué dans la même énergie, beaucoup d’heures
						d’entraînement, de stages et j’ai continué à évoluer dans les grades jusqu’à obtenir le grade
						de <em>Yondan</em> (4<sup>e</sup> dan) en 2022.
					</p>
					<p>
						J’ai intégré le Comité directeur du CID Provence Aikido en 2017 et joue un rôle actif pour
						notre discipline.
					</p>
					<p>
						Au fil du temps, je ne cesse de découvrir de nouveaux points à travailler, à peaufiner.
					</p>
					<p>
						J’ai toujours axé mon travail sur le rôle d'<em>Aïte</em> (celui qui attaque) ; j’aime sentir
						le mouvement, cela m’aide pour la compréhension des techniques. Je porte également un grand
						intérêt pour le travail des armes, notamment le <em>bokken</em> (sabre).
					</p>
					<p>
						Grâce à l'<em>aikido</em>, j’ai découvert de nombreuses facettes de moi-même, à l’image même de
						la discipline. Ce sont tout plein de détails qui forment la pratique. J’ai souvent entendu que
						l’<em>aikido</em> n’est pas qu’une pratique en dojo. Et en effet, la progression et la
						compréhension au fil des années m’ont fait entrevoir au-delà du voile.
					</p>
					<p>
						L’enseignement est une partie importante dans mon parcours et je pense que c’est aussi grâce aux
						élèves que je continue de progresser. Corriger les autres, c'est réussir à voir les erreurs,
						ce qui renvoie à soi-même et à ses propres erreurs, c’est donc un échange dans un but commun.
					</p>
					<p>
						Dans l’enseignement, je privilégie le côté académique de la discipline qui permet de structurer
						la pratique, ainsi que le dynamisme pour développer l’harmonie dans le mouvement. J’aime à
						reprendre cette phrase du fondateur de l'<em>aïkido</em> : « pratiquez dans la joie ! ».
					</p>
					<p>
						C’est grâce à l'<em>aikido</em> que j’ai évolué, et suis très fière de faire partie de la
						famille des <em>aikidoka</em>, car il serait injuste de ne pas rappeler que sans les autres,
						nous ne sommes rien, c’est surtout pour les autres que je souhaite progresser afin que nous
						puissions tous nous élever grâce à cet art martial qui nous unit.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Remy" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/Remy.png"
								srcset="/img/Remy.png"
								alt="Rémy Orsini Kung Fu"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Rémy Orsini</h4>
					<p class="mb-4">Directeur technique Kung-Fu<br>
					5<sup>e</sup> Dan SKK</p>
					<p>
						Rémy Orsini débute les arts martiaux à l'âge de 9 ans par le Karaté. Il continue son
						apprentissage martial en suivant successivement des enseignements en Viet Vo Dao, puis en
						Aïkido avant de se spécialiser dès l'âge de ses 16 ans jusqu'à lors dans le Kung Fu. Il
						apprend alors différents styles de Kung Fu (Le Xing Yi Quan, le Liu He Ba Fa et le Da Cheng
						Quan) auprès de maîtres successifs dont Christophe DORNA LORENZO (Aix Wudang Kung Fu) sous la
						direction technique de Maître WANG Sun Gao, puis voyage régulièrement  en Chine apprendre auprès
						du célèbre Maître de Da Cheng Quan : Maître GUO Gui Zhi. C'est dans cette lignée qu'il devient
						instructeur de Kung Fu.
					</p>
					<p>
						En complément de cet enseignement il s'intéresse et se forme pendant de nombreuses années au
						Wing Chun au sein de L'AIWTKF et également avec Philippe DARMANTE puis au Wing Fight (fondé
						par Victor Gutierrez) avec Philippe BOYER, style qui mêle à la fois Wing Chun, Kali Escrima,
						Boxe Thaï, Jiu Jitsu Brésilien, Boxe Anglaise.
					</p>
					<p>
						Il dispense aujourd'hui l'enseignement des Arts Martiaux, du Qi gong ainsi que de la Médecine
						Traditionnelle Chinoise au sein de son école : l'Ecole Shàn Dào, située dans le sud de l'Ardèche.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Jessie" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/Jessie.jpeg"
								srcset="/img/Jessie.jpeg"
								alt="Jessie Orsini"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Jessie Orsini</h4>
					<p class="mb-4">Directeur technique Yoga<br>
					</p>
					<p>Professeur de yoga, diplômée en Yoga Intégral en 2021, Jessie baigne depuis de nombreuses années
						dans les domaines du bien-être et de la santé.</p>
					<p>Elle se forme et débute en 2004 en tant que masseuse professionnelle en Indre-et-Loire puis
						étudie la Médecine Traditionnelle Chinoise (MTC) sur Aix en Provence pour devenir thérapeute
						et enseignante en 2014. Elle complète ses connaissances par différentes formations dont la yoga
						thérapie sur le système nerveux.</p>
					<p>Elle suit les enseignements de Maître Baraz respectant le Yoga Traditionnel de l’Inde et part
						régulièrement en Asie, notamment en Inde et en Chine pour enrichir sa pratique. Passionnée,
						Jessie continue de se former en yoga thérapie et approfondit l’histoire et la philosophie du
						yoga.</p>
					<p>Elle enseigne actuellement le Yoga Intégral en Ardèche en parallèle de son activité de thérapeute
						et enseignante en MTC spécialisée en massage traditionnel TuiNa à l’Ecole Shan Dao.</p>
					<p>Elle organise également chaque année des voyages de groupe principalement en Asie afin de
						partager ses enseignements, ses rencontres et ses découvertes culturelles.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Pierre-Yves" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/PYC.jpeg"
								srcset="/img/PYC.jpeg"
								alt="Pierre-Yves Campagnac"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Pierre-Yves Campagnac</h4>
					<p class="mb-4">5<sup>e</sup> Dan Taïkikan, Kyoshi </p>
					<p>Pierre-Yves Campagnac débute l’étude des arts martiaux par le Judo en 1979 à Montereau (77). En
						1988, il rencontre son Senseï actuel, <strong>Denis Gauchard</strong> (aujourd’hui 7<sup>e</sup>
						Dan <strong>Kyoshi</strong> NIHON JU-JUTSU de la Kokusaï Budo in IMAF Japon, fondateur du
						Taïkibudo), et l’accompagne dans le cadre du Cercle d’Arts Martiaux de Montereau tout au long
						de sa progression jusqu’à aujourd’hui, étudiant tour à tour Yoseikan Budo, Ecole française de
						Budo, Hakko ryu, Kick-Boxing WKA, Kenpo-Boxing, Boxe française, Full Contact, Taïkibudo et
						Nihon Ju Jutsu.</p>
					<p>Pierre-Yves est titré <strong>RENSHI</strong> école <strong>Taikikan/Kokusai Budoin IMAF
							Japon/International Budo Association</strong> (IBA), et gradé Ceinture Noire 6<sup>e</sup>
						Dan TAIKIBUDO IBA, 5ème Dan Nihon Ju Jutsu IMAF Japon, ce qui ne le fait pas courir plus vite,
						mais lui donne parfois très soif…
					</p>
					<p>Il est infirmier spécialisé bloc opératoire, exerçant au Service des Urgences/SMUR de l’hôpital
						de Sisteron (04). Parrain de l’Académie et du Ryu Shinkyokaï, il est le premier expert associé
						de notre organisation.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Sun-Woo" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/Sun-Woo.jpg"
								srcset="/img/Sun-Woo.jpg"
								alt="Sun Woo Delneufcourt"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Sun Woo Delneufcourt</h4>
					<p class="mb-4">7<sup>e</sup> Dan Karaté-Do, Kyoshi </p>
				</div>
			</div>
		</div>
	</div>


{% endblock body %}
