{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Boutique
{% endblock %}

{% block nav_class %}
	transparent navbar-dark navbar-bg-dark
{% endblock %}

{% block body %}
	
	<section class="wrapper bg-light">
		<div class="container pb-14 pb-md-16 pt-12 text-center">
			<embed src="/uploads/zasshi-juillet-2024.pdf" width="800" height="500" type="application/pdf"/>
		</div>
	</section>

{% endblock body %}
