{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Judo–Jujutsu{% endblock %}
{% block nav_class %}transparent position-absolute navbar-dark{% endblock %}

{% block body %}
	<section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="/img/KATE-KAI.jpeg">
		<div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
			<h1 class="display-1 text-muted mb-3"><span>Judo – Jujutsu</span> <br><span class="text-red">Présentation à venir</span></h1>
			<h2 class="fs-15 text-uppercase text-muted mb-3">Efficacité – Contrôle – Progrès mutuel</h2>
			<p class="text-white mt-10 fs-lg px-md-3 px-lg-7 px-xl-9 px-xxl-10">
				La présentation détaillée de la discipline sera bientôt publiée (fondements, principes, formes d’entraînement, passerelles
				avec les autres pratiques de l’Académie).
			</p>
		</div>
	</section>
	
	<section class="wrapper bg-dark">
		<div class="container py-14 text-left">
			<div class="row"><div class="mx-auto">
				</div></div>
		</div>
	</section>
{% endblock %}