{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Shinkyokaï{% endblock %}
{% block nav_class %}transparent position-absolute navbar-dark{% endblock %}

{% block body %}
	<section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="/img/KATE-KAI.jpeg">
		<div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
			<h1 class="display-1 text-muted mb-3"><span>Shinkyokaï</span> <br><span class="text-red">Académie & Discipline</span></h1>
			<h2 class="fs-15 text-uppercase text-muted mb-3">Cercle – Adaptation – Éthique</h2>
			<p class="text-white mt-10 fs-lg px-md-3 px-lg-7 px-xl-9 px-xxl-10">
				Shinkyokaï est une méthode de combat « ronde », ancrée dans l’efficacité du corps-à-corps et
				imprégnée de dimensions culturelle et philosophique. Racines principales : Karaté-Dō, Tang Soo Do,
				Iseishindo ; influences : Taï-Chi, Krav Maga, boxe. La pratique englobe pieds-poings et sol, mais
				aussi l’étude d’armes (nunchaku, tambo, couteau, bâton télescopique) et l’usage détourné d’objets
				du quotidien à des fins de défense personnelle.
			</p>
		</div>
	</section>
	
	<section class="wrapper bg-dark">
		<div class="container pt-14 pb-18 pt-md-16 pb-md-15 text-left">
			<div class="row"><div class="mx-auto">
					<h2 class="mb-4 text-red">Principes & Pédagogie</h2>
					<p class="text-white">
						<em>Shinkyôkaï</em> est une forme ronde de combat qui entend renouer avec l’essence guerrière
						de l’art, utile pour le corps à corps, et pleinement imprégnée de ses dimensions culturelle
						et philosophique. Ses racines sont le <em>Karaté-Do</em>, le <em>Tang Soo Do</em>, le
						<em>Iseishindo</em>. Il est aussi influencé par le <em>Taï-Chi Chuan</em>, le <em>Krav Maga</em>
						et la boxe. De fait, du point de vue technique, Shinkyokaï s’apparente aux arts martiaux mixtes.
						On y travaille également des armes telles que le <em>nunchaku</em>, le <em>tambo</em>, le
						couteau, le bâton droit télescopique ou l’usage détourné d’objets du quotidien à des fins de
						défense personnelle, comme clé de voiture, chaise, …<br>
						Ainsi, le <em>Shinkyôkaï</em> en tant que discipline (que nous appellerons arts-martiaux
						mixtes <em>Shinkyôkaï</em>), est une méthode globale de combat basée sur des techniques
						pieds-poings et sol. L’approche de la méthode tend à former des pratiquants ayant une vision
						globale du combat au travers ses aspects physiques, techniques, psychologiques mais aussi
						sociétaux, historiques, le tout dans un souci permanent d’adaptation à son époque. C’est
						notamment grâce à l’existence du <em>Shinkyôkaï</em> en tant qu’académie que cela est rendu
						possible. <em>Shinkyôkaï</em> s’inscrit donc aussi dans une démarche de transmission historique
						et philosophique qui participe à façonner des individus vertueux, doués d’assurance et
						altruistes, au sens prononcé de l’engagement et de la justice. La quête de l’honneur, la
						droiture, la politesse, font partie intrinsèque de la discipline.<br>
						Au quotidien et très concrètement la pratique du <em>Shinkyôkaï</em> peut se faire sans
						équipement particulier, en <em>keikogi</em> ou tenue de sport, avec ou sans équipements de
						protection (gants, protège-dents, coquilles, protège-tibias).<br>
						Le dépassement de soi et la fraternité entre ses pratiquants sont des valeurs cardinales du
						<em>Shinkyôkaï</em> que chacun éprouvera en s’entrainant, la pratique d’un art-martial ou
						sport de combat étant vue ici comme une démarche personnelle voire intime. Et si la
						pratique du <em>Shinkyôkaï</em> ne vise pas particulièrement la compétition sportive, elle
						peut cependant être utilisée dans ce but ou compléter l’étude d’une autre discipline,
						ce que permet son essence syncrétique et non dogmatique.<br>
						<em>Shinkyôkaï</em> est un pont entre la tradition et la modernité, entre l’Extrême-Orient
						et l’Occident. Son étude vise donc à l’émancipation de l’esprit humain, premier pas vers
						la liberté. Notre approche se veut rationnelle et évolutive. 	Basée sur un corpus
						technique nourri autant de techniques extrême-orientales (particulièrement japonaises)
						qu’occidentales, le respect de l’intégrité du corps ainsi que l’adaptation au sens large
						sont les piliers de la méthode. Les principes fondamentaux du <em>Shinkyôkaï</em> sont la
						respiration, le relâchement, l’ancrage, le cercle, le sabre, la flèche, la fluidité,
						l’explosivité, la détermination, la vacuité.<br>
						L’illustration la plus juste de <em>Shinkyôkaï</em> est l’<em>Enso</em>, littéralement
						« cercle », ici le Cercle Zen. Il est donc le logo de notre art.<br>
						La notion de travail pour soi et avec les autres est fondamentale ; elle participe de
						l’harmonie de soi et avec autrui.
					</p>
				</div></div>
		</div>
	</section>
{% endblock %}