{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Yoga{% endblock %}
{% block nav_class %}transparent position-absolute navbar-dark{% endblock %}

{% block body %}
	{# HERO #}
	<section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="/img/KATE-KAI.jpeg">
		<div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
			<h1 class="display-1 text-muted mb-3"><span>Yoga</span> <br><span class="text-red">Intégral &
					Thérapie</span></h1>
			<h2 class="fs-15 text-uppercase text-muted mb-3">Harmonie – Prévention – Accompagnement</h2>
			<p class="text-white mt-10 fs-lg px-md-3 px-lg-7 px-xl-9 px-xxl-10">
				Voici un descriptif de ma discipline : Yoga Intégral et Yoga Thérapie
			</p>
		</div>
	</section>
	
	{# YOGA INTÉGRAL / PURNA YOGA #}
	<section class="wrapper bg-dark">
		<div class="container pt-14 pb-10 pt-md-16 pb-md-12">
			<div class="row">
				<div class="mx-auto">
					<h2 class="mb-4 text-red">🌸 Yoga intégral / Purna Yoga</h2>
					
					<p class="text-white">
						🌸Le yoga intégral ou purna yoga est une pratique ancestrale et traditionnelle de l’Inde qui
						vise à harmoniser toutes les dimensions de l’être : physique, mentale, émotionnelle et
						spirituelle
					</p>
					
					<div class="text-white">
						<p>•&nbsp;Objectif : développer une conscience globale et unir la vie intérieure avec la vie
							quotidienne.</p>
						<p>•&nbsp;Caractéristiques :</p>
						<ul class="text-white">
							<li>inclut les différentes formes de yoga (Hatha Yoga, Raja Yoga, Bhakti Yoga, Karma Yoga,
								Jnana Yoga)</li>
							<li>Travail à la fois corporel (postures, respiration, relaxation) et intérieur
								(méditation, concentration, transformation des habitudes)</li>
							<li>Vise une intégration progressive plutôt qu’une pratique limitée à un seul aspect.</li>
						</ul>
						<p>•&nbsp;Bienfaits :</p>
						<ul class="text-white">
							<li>Équilibre général du corps et de l’esprit</li>
							<li>Développement de la conscience de soi</li>
							<li>Meilleure harmonie dans la vie personnelle, relationnelle et sociale</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{# YOGA THÉRAPIE #}
	<section class="wrapper bg-dark">
		<div class="container pb-14 pb-md-15">
			<div class="row">
				<div class="mx-auto">
					<h2 class="mb-4 text-red">🌸 Yoga thérapie</h2>
					
					<p class="text-white">
						Le yoga thérapie (ou yoga thérapeutique) est l’utilisation des outils du yoga à des fins de
						prévention ou d’accompagnement de la santé.
					</p>
					
					<div class="text-white">
						<p>•&nbsp;Objectif : soulager, accompagner ou améliorer l’état de santé de la personne en
							fonction de ses besoins spécifiques</p>
						<p>•&nbsp;Bienfaits :</p>
						<ul class="text-white">
							<li>Gestion du stress, de l’anxiété, des troubles du sommeil.</li>
							<li>Soulagement de douleurs chroniques (dos, articulations,…).</li>
							<li>Soutien dans les maladies chroniques (maladies cardio-vasculaires, etc.).</li>
							<li>Amélioration de la qualité de vie et de l’autonomie</li>
						</ul>
					</div>
				
				</div>
			</div>
		</div>
	</section>
{% endblock %}