<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Shinkyokaï - Inscription atelier</title>
</head>
<body>
<h2>Atelier culturel</h2>
<p>Bonjour,</p>
<p>Nous vous remercions de vous être inscrit à un atelier culturel sur le site de Shinkyokaï.</p>
<p>N'hésitez pas à nous contacter à contact@shinkyokai.com pour toute interrogation supplémentaire.</p>
<p>L'équipe de Shinkyokaï</p>
</body>
</html>
