<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Shinkyokaï - Adhésion d'un membre de club</title>
</head>
<body>
<h2>Licence de membre</h2>
<p>Bonjour,</p>
<p>Nous vous remercions de vous être inscrit à Shinkyokaï.</p>
<p>Vous trouverez ci-joint à ce courriel votre licence de membre en PDF.</p>
<p>N'hésitez pas à nous contacter pour toute interrogation supplémentaire.</p>
<p>L'équipe de Shinkyokaï</p>
</body>
</html>
